body{
  margin:0;
}

.Italianno{
  font-family: "Italianno", cursive;
  font-size: 50px;
  font-weight: normal;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Bacasime{
  font-family: "Bacasime Antique", cursive;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;

}

.img1{
  background-image: url('img/img-001.jpeg');      
}
.img2{
  background-image: url('img/img-002.jpeg');      
}
.img3{
  background-image: url('img/img-003.jpeg');    
}

div{
  border-style: none;/*TESTING*/

}

.reference{ /*Clase utilizada como punto de "referencia" para elementos
   que contiene con posicion absoluta como la clase ".top-left"   */
  position:relative;
  justify-content: left;
  width: 0%;
  height: 100vh;
}
.top-left{ /*Clase para colocar elementos en las esquinas de una seccion, 
  debe ir dentro de un div "referencia" para no romper la estructura  */
  position:absolute;
  width:350px;
  transform:rotate(180deg) translateX(28%) translateY(10%);
}
.top-right{ /*Clase para colocar elementos en las esquinas de una seccion, 
  debe ir dentro de un div "referencia" para no romper la estructura  */
  position:absolute;
  width:350px;
  transform:rotate(70deg) translateX(-40%) translateY(-65%);
}

.zoom{ /*Clase para hacer zoom en conjunto con la clase ".zoom-on" la cual trabaja con Javascript.
  Se agrega la clase a un elemento "img" que este dentro de un elemento "div" con la clase
  "container-img"    */
  transition: transform 2.5s, opacity 0.5s ;
  transform: scale(1.1);
}

.zoom-on{
  transform: scale(1.4);
  opacity: 1;
}

.container-text-blank { /* Clase usada para una seccion en blanco
  altura 100 del visualport height, oculta elementos que se desbordan,
  alineacion de los elementos al centro en ambos ejes X y Y, para incorporar mas 
  elementos de decoracion debe colocarse dentro de este, un div con la clase ".referencia"
  para poder ajustar posiciones sin alterar el centrado de los elementos principales*/
  width:100%;
  height: 100vh;
  overflow:hidden; /*hidden*/
  display:flex; /*flex*/
  align-items: center;
  justify-content:center;
  text-align: center;
  padding: 0%;
  border-style:none;
}
     

.container-img { /* clase principa para galeria estatica con la opcion de agregar 
  texto descriptivoa usando clases como ".text-up".
  En esta clase se define el uso de una imagen como fondo del elemento pero debe ir acompanado 
  con otra de las siguientes clases:img1, img2 o img3 en las cuales se define la ruta de la 
  imagen que se utiliazara.
  Tambien se puede hacer un zoom con scroll, pero en lugar de usar la clase ".img1.." 
  se agrega dentro del div un elemento "img" que tenga la clase ".zoom" */
  width:100%;
  height: 100vh;
  overflow: hidden; /*hidden*/
  display:flex; /*flex*/
  align-items: center;
  justify-content: center;
  background-size:cover;   /*contain*/
  background-position: center;   /* Centers the image */
  background-repeat: no-repeat;  /* Prevents tiling */
  background-attachment: scroll ;
  padding: 0%;
  border-style:none;
  
}
          

.container-img > * {
  color: white;
  text-align: center;
}

.text-top-container{
  position: relative; /*Cambia la propiedad "position" de su valor default "static" a relative, position relative to its normal position*/
  bottom: 225px; 
  max-width: 90%;
}

.text-up{
  position: relative;
  bottom:30px ;
  font-size: 1.1rem;
  opacity: 0.9;
}

.image-small-center{ /*Ajusta posicion y tamano de imagen, para ajustarla en relacion con 
  el texto central, debe estar dentro de un div clase .reference*/
  position: relative;
  width: 150px;
  top: 190px;
  left: 60px;
  
}
