.img1{
        background-image: url('img/img-001.jpeg');      
}
.img2{
        background-image: url('img/img-002.jpeg');      
}
.img3{
        background-image: url('img/img-003.jpeg');      
}
.container-text-stock{
        border-style: solid;
        display:block;
        
}

.container-img {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Arial', sans-serif;
        background-size: cover;        /* Fills entire container */
        background-position: center;   /* Centers the image */
        background-repeat: no-repeat;  /* Prevents tiling */
        background-attachment: fixed ;
}
                

.container-img > * {
        color: white;
        text-align: center;
}

h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        display: block;
}


p {
        font-size: 1.2rem;
        opacity: 0.9;
}
