body{
  margin:0;
}

.Italianno{
  font-family: "Italianno", cursive;
  font-size: 50px;
  font-weight: normal;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Bacasime{
  font-family: "Bacasime Antique", cursive;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;

}

.img1{
  background-image: url('img/img-001.jpeg');      
}
.img2{
  background-image: url('img/img-002.jpeg');      
}
.img3{
  background-image: url('img/img-003.jpeg');      
}

div{
  border-style: none;/*TESTING*/

}

.reference{ /*Clase utilizada como punto de "referencia" para elementos
   que contiene con posicion absoluta como la clase ".top-corner-right"   */
  position:relative;
  justify-content: left;
  width: 0%;
  height: 100vh;
}
.top-corner-right{ /*Clase para colocar elementos en las esquinas de una seccion, debe ir dentro de un div .relative*/
  position:absolute;
  width:350px;
  transform:rotate(180deg) translateX(28%) translateY(10%);


}

.container-text-blank {
  width:100%;
  height: 100vh;
  overflow:hidden; /*hidden*/
  display:flex; /*flex*/
  align-items: center;
  justify-content:center;
  text-align: center;
  padding: 0%;
  border-style:none;
}
     

.container-img {
  width:100%;
  height: 100vh;
  overflow: hidden; /*hidden*/
  display:flex; /*flex*/
  align-items: center;
  justify-content: center;
  background-size:cover;   /*contain*/
  background-position: center;   /* Centers the image */
  background-repeat: no-repeat;  /* Prevents tiling */
  background-attachment: scroll ;
  padding: 0%;
  border-style:none;
  
}
          

.container-img > * {
  color: white;
  text-align: center;
}

.text-top-container{
  position: relative; /*Cambia la propiedad "position" de su valor default "static" a relative, position relative to its normal position*/
  bottom: 225px; 
  max-width: 90%;
}

.text-up{
  position: relative;
  bottom:30px ;
  font-size: 1.1rem;
  opacity: 0.9;
}

